*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body{

    width: 100vw;
    max-width: 1200px;
    height: 100vh;

    background: hsl(257, 40%, 49%);
    background-image: url(./images/bg-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: left;
    margin: 2rem 0;
}

.logo{
    transform: scale(0.8);
}


main{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 3rem auto;
}

section{
    height: 100%;
    gap: 2rem;
}

.left{

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    transform: scale(0.8);
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
    margin-left: 3rem;
}

h1{
    font-size: 2.5rem;
    width: 100%;
}

p{
    font-size: 1.2rem;
    width: 100%;
}

button{
    padding: 0.8rem;
    background: white;
    color: hsl(257, 40%, 49%);
    font-size: 1.2rem;
    width: 50%;
    margin-top: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
}

footer{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: right;
}

.sns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

a {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){

    body{
        background-image: url(./images/bg-mobile.svg);
        background-size: contain;
        background-position: top;
    }

    main{
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .banner{
        transform: scale(0.5);
    }

    .left, .right{
        width: 90%;
        margin: 0;
    }

    .right{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    button{
        width: 60%;
    }

    h1{
        font-size: 1.5rem;
        width: 100%;
    }

    footer{
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .sns{
        margin-bottom: 2rem;
    }
}